version: "3.8"

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://hopper.proxy.rlwy.net:20356/railway?allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: iFXLMRbcRMkyWlpIAOyObBylnYkQvvAw
      SERVER_PORT: 8080
      SPRING_FLYWAY_ENABLED: "true"
      SPRING_FLYWAY_VALIDATE_ON_MIGRATE: "false"
      SPRING_FLYWAY_IGNORE_FAILED_MIGRATIONS: "true"
      JWT_SECRET: ${JWT_SECRET:-dev-change-me-please-!}

  frontend:
    build:
      context: ./frontend
      args:
        REACT_APP_API_URL: /api
    ports:
      - "3000:80"
    depends_on:
      - backend